spring:
  application:
    name: SoleaCargoDispatcher
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:soleadb
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create
    defer-datasource-initialization: true
  h2:
    console:
      enabled: true
      path: /h2-console
server:
  port: 3004